<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout1}">
<th:block layout:fragment="content">
    <div class="card-header">
        목록
    </div>
    <div class="card-body">
        <a th:href="@{/boards/post}" class="badge badge-primary float-right" style="font-size: x-large;">글 작성</a>
    </div>
    <div class="card-body">
        <th:block th:each="info, iterState : ${infos}">
            <a th:href="'view?bno=' + ${info.getBno()}" class="thumbnail-wrap">
                <img th:if="${info.getPictures() > 0}" th:src="${info.getContent()}" class="thumbnail">
                <span th:unless="${info.getPictures() > 0}" th:text="${info.getContent()}" class="thumbnail-simple">
                </span>
            </a>
            <th:block th:if="${(iterState.index + 1) % 3 == 0}" th:utext="${'</div>' + '<div class=card-body>'}">
        </th:block>
    </div>
</th:block>
</html>