<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{css/style.css}" rel="stylesheet">
  <link th:href="@{css/animate.min.css}" rel="stylesheet">
  <script th:src="@{js/wow.min.js}"></script>
  <script>
    new WOW().init();
  </script>
</head>

<body>

<div class="nav-bar">
  <a class="header-box" th:href="@{/home}"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" style="height: 21px;"></a>
  <a class="header-box" href="#intro">길드소개</a>
  <a class="header-box" href="#apply">가입문의</a>
  <a class="header-box" th:href="@{/report}">제보</a>
  <a class="header-box" th:href="@{/boards/list}">게시판</a>
</div>


<section class="hero">
  <div class="wrap">
    <h1 class="wow slideInDown" style="margin-bottom: 0;">Doki</h1>
    <h2 class="wow slideInLeft" data-wow-delay="0s">The Guild of Scania</h2>
    <a class="btn wow slideInUp" data-wow-delay="0s" href="#intro">자세히 알아보기</a>
  </div>
</section>
<section class="hero" id="intro" style="background-image: none; background-color: violet;">
  <div class="wrap">
    <div>
      <h1 class="wow fadeInDown" style="margin-bottom: 0px;"><img class="revert" th:src="@{img/shu.png}">Doki는?<img th:src="@{img/master2.png}"></h1>
    </div>
    <h1 class="wow fadeIn" data-wow-delay="0.6s" style="font-size: medium;">Since 2018.04.02</h1>
    <h2 class="wow fadeInLeft" data-wow-delay="1s">매너플레이를 지향하는 성인 친목 길드입니다.</h2>
    <div class="char">
      <img class="wow zoomIn" data-wow-delay="0.3s" th:src="@{img/seed1.png}">
      <img class="wow bounce" data-wow-delay="0.6s" th:src="@{img/guk1.png}">
      <img class="wow flip" data-wow-delay="1.2s" th:src="@{img/guk2.png}">
    </div>
  </div>
</section>
<section class="hero" id="apply" style="background-image: none; background-color: tomato;">
  <div class="wrap">
    <h1 class="wow fadeInDown" style="margin-bottom: 0px;">어떻게 가입하나요?</h1>
    <h2 class="wow fadeInLeft" data-wow-delay="1s">Doki는 아래의 조건에 부합하는 길드원을 상시 모집중입니다.</h2>
    <h2>● 20세 이상 성인</h2>
    <h2>● 매너 유저</h2>
    <h2>● Lv 210 ↑</h2>
    <a class="btn wow slideInUp" data-wow-delay="0s" href="https://open.kakao.com/o/s5xnzhTb" target="_blank">카카오톡
      문의</a>
  </div>
</section>
</body>

<script
  crossorigin="anonymous"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  src="https://code.jquery.com/jquery-3.5.1.js"></script>

</html>